.component {
  width: 537px;
  height: 68px;
  margin-right: auto;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
  font-family: var(--font-mono);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--panel-color);

  @media (max-width: 620px) {
    width: 100%;
  }
}
