.component {
  margin-top: auto;
  padding-top: 18px;
  display: flex;

  button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #999;
    svg {
      height: 16px;
    }
    &:hover {
      background-color: white;
      box-shadow: 1px 1px 4px rgb(0 0 0 / 8%);
    }
  }
}

.copyButton {
}

.downloadButton {
  margin-left: 10px;
}
