.component {
  margin-top: auto;
  padding-top: 18px;
  display: flex;

  button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: var(--panel-color);
    color: var(--text-color);
    svg {
      height: 16px;
    }
    &:hover {
      background-color: var(--background-color);
      box-shadow: var(--input-shadow);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.copyButton {
}

.downloadButton {
  margin-left: 10px;
}
