.component {
  height: 60px;
  margin-top: auto;
  padding-top: 10px;
  display: flex;
  gap: 10px;

  button {
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--panel-color);
    color: var(--text-color);
    svg {
      height: 16px;
    }
    &:hover {
      background-color: var(--button-hover-color);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
