.fillColor {
  padding: 4px;
  border-radius: 4px;
  width: 67px;
  border: none;
  background: unset;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  &:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    background-color: white;
  }
}

.colorPickerWrapper {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 1px;
}

.colorPicker {
  opacity: 0;
  width: 17px;
  cursor: pointer;
}
