.component {
  position: relative;
  display: flex;
  align-items: center;

  &:hover,
  &:focus-within {
    .dropdown,
    .relativeToggle,
    .addButton,
    .removeButton,
    .info {
      visibility: visible;
    }
    .instruction {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
      background-color: white;
    }
  }
}

.instruction {
  flex: 1 1 auto;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: 16px;
  line-height: 18px;
  padding: 4px;
  margin: 2px 0 2px 36px;
  border-radius: 4px;
  border: none;
  background: unset;
  outline: none;
}

.annotation {
  display: none;
  position: absolute;
  padding: 4px;
  margin-left: 36px;
  top: 32px;
  background-color: white;
  color: #999;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.16);
  z-index: 100;

  &:before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -6px;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 0;
    left: 50%;
    top: -5px;
  }
}

.instruction:focus + .annotation {
  display: block;
}

.partName {
}

.partNameActive {
  color: #222;
}

.dropdown {
  width: 100px;
  margin: 0 10px;
  border: none;
  padding: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.dropdown,
.relativeToggle,
.addButton,
.removeButton,
.info {
  visibility: hidden;
}

.relativeToggle {
  position: relative;
  height: 18px;
  width: 64px;
}

.toggleCheckbox {
  opacity: 0;
  position: absolute;
  left: -10000px;
  pointer-events: none;

  &:checked {
    & + .toggleSwitch {
      background-color: #66bb6a;
      &:before {
        transform: translateX(16px);
      }
    }
  }

  &:focus-visible + .toggleSwitch {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.toggleSwitch {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  border-radius: 6px;
  bottom: 0;
  left: 28px;
  right: 0;
  top: 0;
  transition: background-color 0.4s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);

  &:before {
    background-color: white;
    border-radius: 4px;
    bottom: 2px;
    content: '';
    height: 14px;
    left: 2px;
    position: absolute;
    transition: transform 0.4s;
    width: 16px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  }
}

.button {
  font-family: Arial;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 8%);
  width: 18px;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  position: relative;
  &:before {
    position: absolute;
  }
}

.addButton {
  margin-left: 10px;
  background-color: #66bb6a;
  &:before {
    content: '+';
    bottom: 0;
    left: 3px;
  }
}

.removeButton {
  margin-left: 4px;
  background-color: #d64747;
  &:before {
    content: '-';
    bottom: 2px;
    left: 6px;
  }
}

.info {
  border: 1px solid #777;
  color: #777;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  cursor: pointer;

  &:hover + .infoBox {
    display: block;
  }
}

.infoBox {
  display: none;
  position: absolute;
  padding: 8px;
  margin-left: calc(100% + 10px);
  width: 350px;
  background-color: white;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
