.component {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

.indented {
  margin-left: 20px;
}
