.container {
  min-height: 100vh;
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  width: 100%;
  @media (max-width: 1060px) {
    grid-template-columns: 1fr;
  }
}

.section {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 38px;
  margin: 10px 0;
}

.editor {
  display: flex;
  flex-direction: column;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

.indented {
  margin-left: 20px;
}

.viewer {
  position: relative;
  @media (max-width: 1060px) {
    max-width: 600px;
  }

  svg path {
    transition: d 300ms;
  }
}

.coord {
  position: absolute;
}

.coordXMin {
  top: 17px;
}

.coordYMin {
  top: 35px;
  left: 24px;
}

.coordXMax {
  top: 17px;
  right: 38px;
}

.coordYMax {
  bottom: 39px;
  left: 7px;
}

.view {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
