.component {
  display: flex;
  margin: 14px 0 0 6px;

  @media (max-width: 620px) {
    margin: 6px 0 0 4px;
  }

  svg path {
    transition: d 300ms;
  }
  svg circle {
    transition:
      cx 300ms,
      cy 300ms;
  }
}

.yCoords {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  margin: 20px 4px 1px 4px;
}

.rightWrapper {
  width: 100%;
}

.xCoords {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.coord {
  @media (max-width: 620px) {
    font-size: 14px;
  }
}

.view {
  border-top: 1px dashed var(--axis-color);
  border-left: 1px dashed var(--axis-color);
}
